.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Light mode navbar background */
.navbar-light-mode {
  background-color: #f0f0f0 !important; /* Light gray */
  color: #212529; /* Dark gray text */
}

/* Dark mode navbar background */
.navbar-dark-mode {
  background-color: #343a40 !important; /* Dark gray */
  color: white; /* White text */
}

/* Change text color in dark mode */
.navbar-dark-mode .navbar-nav .nav-link {
  color: white;
}

/* Change text color in light mode */
.navbar-light-mode .navbar-nav .nav-link {
  color: #212529;
}

/* Toggle switch in dark mode */
.form-check-input:checked {
  background-color: #6c757d;
  border-color: #6c757d;
}
